# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules
# dependencies
front/node_modules
front/.pnp
front/.pnp.js
front/.yarn/install-state.gz

# testing
front/coverage

# next.js
front/.next/
front/out/

# production
front/build

# misc
front/.DS_Store
front/*.pem

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# local env files
front/.env*.local

# vercel
front/.vercel

# typescript
front/*.tsbuildinfo
front/next-env.d.ts

front/.env

#api
rental-api/node_modules
rental-api/dist
front/package-lock.json
rental-api/package-lock.json
rental-api/.prettierrc 2
rental-api/eslint.config 2.mjs
rental-api/package 2.json
rental-api/package-lock 2.json
front/package-lock.json
rental-api/package-lock.json
front/.cursorrules 2
front/.eslintrc 2.json
front/next.config 2.js
front/next.config 2.mjs
front/package 2.json
front/.replit 2
front/package-lock 2.json
front/paths/chat 2.md
front/paths/image-generation 2.md
front/paths/social-media 2.md
front/paths/voice-notes 2.md

front/public/next 2.svg
