# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/node_modules
# dependencies
front/node_modules
front/.pnp
front/.pnp.js
front/.yarn/install-state.gz

# testing
front/coverage

# next.js
front/.next/
front/out/

# production
front/build

# misc
front/.DS_Store
front/*.pem

# debug
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*

# local env files
front/.env*.local

# vercel
front/.vercel

# typescript
front/*.tsbuildinfo
front/next-env.d.ts

front/.env

#api
rental-api/node_modules
rental-api/dist
front/package-lock.json
rental-api/package-lock.json
rental-api/.prettierrc 2
rental-api/eslint.config 2.mjs
rental-api/package 2.json
rental-api/package-lock 2.json
front/package-lock.json
rental-api/package-lock.json
front/paths/.DS_Store
rental-api/.DS_Store
rental-api/.DS_Store
rental-api/.DS_Store
rental-api/src/env.ts
rental-api/src/env.ts
front/package-lock.json
front/package.json
rental-api/src/env.ts
rental-api/src/env.ts

.vscode
.gitignore
.DS_Store
rental-api/.DS_Store
.DS_Store
rental-api/.DS_Store

