services:
  frontend:
    restart: always
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file: ./docker-envs/front.env
    depends_on:
      - backend
    networks:
      - app

  backend:
    restart: always
    build:
      context: ./rental-api
      dockerfile: Dockerfile
    services:
      - DB_PASS=root
      - DB_NAME=rental
    depends_on:
      - db
    networks:
      - app

  phpmyadmin:
    container_name: phpma
    image: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - app

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: rental
    volumes:
       - mysql_data:/var/lib/mysql
    networks:
      - app

networks:
  app:

volumes: