services:
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app

  frontend:
    restart: always
    build:
      context: ./front
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - app

  backend:
    restart: always
    build:
      context: ./rental-api
      dockerfile: Dockerfile
    ports:
      - "8080:3001"
    env_file: ./docker-envs/back.env
    depends_on:
      - db
    networks:
      - app

  phpmyadmin:
    container_name: phpma
    image: phpmyadmin
    restart: always
    ports:
      - "8081:80"
    depends_on:
      - db
    networks:
      - app

  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3306:3306"
    env_file: ./docker-envs/mysql.env
    volumes:
       - mysql_data:/var/lib/mysql
    networks:
      - app

networks:
  app:

volumes:
  mysql_data: